<form class="register" method="post" action="/register">
  <label>Name:</label>
  <input type="text" name="user[name]">

  <label>Email:</label>
  <input type="text" name="user[email]">

  <label>Password:</label>
  <input type="password" name="user[password]">

  <input type="submit" value="register">
</form>
