<h1>Register</h1>

<ul>
  <% if @errors %>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</ul>

<form class="register" method="post" action="/register">
  <label>Name:</label>
  <input type="text" name="user[name]">
  <br>
  <br>
  <label>Email:</label>
  <input type="text" name="user[email]">
  <br>
  <br>
  <label>Password:</label>
  <input type="password" name="user[password]">
  <br>
  <br>
  <input type="submit" value="register">
</form>
