<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <title>SuperHAcked!</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    <% if logged_in? %>
      <li><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></li>
      <li><form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="link"><span>Logout</span></button>
      </form></li>
    <% else %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
